<!-- pages/templates/about.html -->
{% extends 'base.html' %}

{% block content %}
<h1>About page</h1>
<article id="portfolio" class="wrapper style3">
    <div class="container">
        <header>
            <h2>Software/Hardware I recently work with.</h2>
            <p>This doesn't cover everthing I have previously worked with, but this is the most recent software/hardware I helped manage.</p>
        </header>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/office.png" alt="" /></a>
                    <h3><a href="#">Microsoft 365 office and Teams voice</a></h3>
                    <p></p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/cch.png" alt="" /></a>
                    <h3><a href="#">Wolters Kluwer CCH Software</a></h3>
                    <p>Engagement, Engagement Knowagle couch, Axcess and Fixed Assets.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/MECM.png" alt="" /></a>
                    <h3><a href="#">Microsoft MECM</a></h3>
                    <p>Laptop images, Software and packages deployment.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/TR.png" alt="" /></a>
                    <h3><a href="#">Thomson Reuters</a></h3>
                    <p>PPC engagement, Smart Pratice Aid.</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/AVD-icon.jpg" alt="" /></a>
                    <h3><a href="#">Microsoft Azure</a></h3>
                    <p>Windows virtual desktop for Quickbook desktop programs</p>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box style2">
                    <a href="#" class="image featured"><img src="images/Cisco.png" alt="" /></a>
                    <h3><a href="#">Cisco Meraki</a></h3>
                    <p></p>
                </article>
            </div>
        </div>
        
    </div>
</article>
{% endblock content %}